[Unit]
Description=Nodi Edge Supervisor
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/root/.venv/bin/python3 -m nodi_edge_apps.supervisor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
